/*check this out http://getbootstrap.com/customize/#less-variables */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
/*base settings*/
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 16px;

$brand-primary: #009AFF;
$brand-info: #009AFF;

$border-radius-small: 0;
$border-radius-base: 0;
$border-radius-large: 0;

/*navbar settings*/
$navbar-margin-bottom: 0;
$navbar-height: 50px;
$navbar-default-bg: transparent;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: $navbar-default-link-color;
$navbar-default-link-active-color: $navbar-default-link-color;

$navbar-default-link-hover-bg: rgba(0, 0, 0, 0.2);
$navbar-default-link-active-bg: $navbar-default-link-hover-bg;

/*inverse navbar settings*/
$navbar-inverse-link-color: #ffffff;

/*buttons settings*/
$btn-border-radius-large: 0;

$btn-primary-bg: #606060;

$btn-primary-border: transparent;
$btn-info-border: transparent;
$btn-warning-border: transparent;
$btn-success-border: transparent;
$btn-danger-border: transparent;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 5%);

/*headers:*/
$font-size-h1: floor(($font-size-base * 3.4));
$font-size-h2: floor(($font-size-base * 2.6));
$font-size-h3: floor(($font-size-base * 2.15));
$font-size-h4: floor(($font-size-base * 1.7));
$font-size-h5: floor(($font-size-base * 1.4));
$font-size-h6: floor(($font-size-base));

/*lists*/
$list-group-bg: transparent;
$list-group-border: transparent;

/*well*/
$well-bg: #fefefe;


@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h1,h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
h3,h4,h5,h6 {
  margin-top: 26px;
  margin-bottom: 20px;
}

footer {
  background: #EBEBEB;
}