/* Carousel base class */
$carousel-height: 450px;
.carousel {
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 120px;

  p {
    font-size: 18px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  }
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width: 100%;
  max-height: $carousel-height;
}
.carousel-inner > .item > img {
  min-width: 100%;
  max-height: $carousel-height;
}

.search-form-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.3);
}