/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper-main {
  margin-bottom: 16px;
}
.navbar-wrapper-main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-nav > li {

}
.navbar-nav > li > a {
  text-shadow: 0 3px 3px rgba(0,0,0,0.8);
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}