.tour-info-label-container {
  margin-bottom: 12px;
}
.tour-info-label {
  color: #A7A7A7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.tour-info-dates {
  font-size: 20px;
  font-weight: bold;
}
.tour-info-price {
  font-size: 44px;
}
.carousel-link {
  width: 135px;
  margin-top: 4px;
}