$title-color: #333333;


.tour-item-container {
  padding-bottom: 21px;
  margin-bottom: 40px;

  .tour-title {
    .tour-title-name {
      font-size: 20px;
      font-weight: 600;
      color: $title-color;
    }

    .tour-region {
      color: $title-color;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .tour-price {
    font-size: 30px;
  }
  .tour-currency {
    padding-left: 4px;
    padding-top: 16px;
  }
  .tour-capacity {
    color: #AEABAA;
  }
  .tour-book {
    float: right;
    margin-top: 36px;
    font-size: 12px;
    padding: 6px 16px;
    font-weight: 600;
  }
}